In [ ]:
# 리스트 만들기
# 데이터가 3~4 -> 10만개 / 100만개
# 단어 -> 리스트

fruits = ['바나나', '사과', '포도']

In [ ]:
print(fruits)

['바나나', '사과', '포도']

In [ ]:
# 비어있는 리스트는 언제 쓰는지?
# 향후 조건에 맞는 / 반복처리된 자료를 리스트에 넣을때 사용
empty = []

In [ ]:
print(empty)

[]

In [ ]:
# 1. 리스트를 생성한다.
fruits = ["사과", "바나나", "딸기", "포도"]

In [ ]:
print(fruits[0])

사과

In [ ]:
print(fruits[3])

포도

In [ ]:
print(fruits[-4])

사과

In [ ]:
numbers = [10, 20, 30, 40, 50]

In [ ]:
# 슬라이싱 start, stop
print(numbers[1:4])

[20, 30, 40]

In [ ]:
# 슬라이싱 start, stop
print(numbers[:4])

[10, 20, 30, 40]

In [ ]:
# 슬라이싱 start, stop
print(numbers[4:])

[50]

In [ ]:
fruits = ["사과", "바나나", "딸기"]

In [ ]:
fruits[1] = "포도"
print(fruits)

['사과', '포도', '딸기']

In [ ]:
fruits[2] = "산삼"
print(fruits)

['사과', '포도', '산삼']

In [ ]:
# 리스트에 값이 없으면 out of range 오류가 난다. 해당 위치에 값이 없기 때문에
fruits[3] = "포도"
print(fruits)

IndexError: list assignment index out of range

In [ ]:
# 리스트 메서드 1 - append - 맨 뒤에 값을 추가하는 기능

nums = [1,2,3]

In [ ]:
print(nums)

[1, 2, 3]

In [ ]:
# 4라는 숫자를 맨 뒤에 추가
nums.append(4)
print(nums)

[1, 2, 3, 4, 4]

In [ ]:
# 2) insert - 원하는 위치에 값을 추가 insert(위치, 값)
# [1,2,3,4,4]에서 맨 뒤의 4를 5로 삽입

# 4번째 위치의 값을 5로 삽입해줘
nums.insert(4,5)
print(nums)

[1, 2, 3, 4, 5, 4]

In [ ]:
# 3) remove(값) - 해당 값을 찾아서 삭제
# remove는 값을 순차적으로 1개씩 제거를 한다.
nums.remove(4)
print(nums)

[1, 2, 3, 5, 4]

In [ ]:
# 4) pop 은 마지막 요소를 제거
# 1) 제거된 값도 가지고 있다.
# 2) 남은 리스트도 출력할 수 있다.
deleted = nums.pop()
print(deleted)
print(nums)

4
[1, 2, 3, 5]

In [ ]:
# 5) 정렬 - sort() - 오름차순 (작은 값 -> 큰값) / 내림차순(큰값 -> 작은값)
# 기본적으로는 오름차순 / 내림차순(reverse = True)

nums.sort(reverse=True) # 내림차순
print(nums)

[5, 3, 2, 1]

In [ ]:
# 6) count()와 index() - 탐색
# count - 등장 횟수 ex) 5가 몇개 인지? 3이 몇개인지?
# index - 데이터의 위치

print(nums.count(4)) # 데이터가 몇개 있는지 파악! 없으면 0
print(nums.index(3)) # 데이터의 위치를 파악하는데 용이

0
1

In [ ]:
# 리스트의 갯수를 셀때 len을 사용하면 리스트의 총 길이를 알수 잇다.(데이터의 갯수를 알 수 있다.)
print(len(nums))

4

In [ ]:
# 반복문 + 조건문 + 리스트

In [ ]:
# 리스트 + 반복문
          # 0      1       2
fruits = ["사과", "바나나", "딸기"]
for f in fruits:
    print(f)


# 아! 결국 여러 데이터도 순차적으로 처리가 되는구나?!
# 컴퓨터의 연산 -
# RAM / CPU - 순차적으로 학습 # 데이터 1개를 처리하는데 1초가 걸리면 10만개면 - 10만초가 걸린다?!
# GPU - 병렬 학습 # 데이터 10만개 -> 10만초(X) -> 1만초

사과
바나나
딸기

In [ ]:
# 인덱스와 함께 출력하는 enumerate
# enumerate(리스트) -> i,f -> i는 인덱스, f는 리스트 안에 데이터
for i, f in enumerate(fruits):
    print(f"{i}번째 과일은, {f}입니다.")

0번째 과일은, 사과입니다.
1번째 과일은, 바나나입니다.
2번째 과일은, 딸기입니다.

In [ ]:
# 리스트 - 조건문과 함께 사용

numbers = [10, 25, 30, 55, 42]

for n in numbers: # 변수하나하나씩 처리 가능
    if n > 30:
        print(n)

55
42

In [ ]:
# 1. 반복 구조에 대한 뼈대
# 반복을 하는 이유가 있다. -> 단어를 지속적으로 입력을 받는다. 데이터가 다 처리될때까지 종료하지 않는다.
# 프로그램에 대한 시작 / 유지

while True: # 조건이 만족할때는 계속 실행해라!
    word = input("단어를 입력하세요 (종료: exit를 입력하세요)")

In [ ]:
# 2. while같은 경우 특히 종료에 대한 조건을 추가하는 것이 중요
# 왜냐면 while은 특수한 상황이 아니면 종료를 하지 않는 반복문이기 때문
# 프로그램에 대한 종료

while True: # 조건이 만족할때는 계속 실행해라!
    word = input("단어를 입력하세요 (종료: exit를 입력하세요)")
    if word == 'exit':
        break # exit를 입력 받으면 종료해라!

In [ ]:
# 4. 단어를 추가하기 위한 리스트가 필요
words = []

# 3. 빈 문자열에 대한 예외 처리 (잘못 입력된 문자열)
while True: # 조건이 만족할때는 계속 실행해라!
    word = input("단어를 입력하세요 (종료: exit를 입력하세요)")

    if word == 'exit':
        break # exit를 입력 받으면 종료해라!

    elif word == '':
        print("공백은 입력할 수 없습니다.")
# 4. 위의 조건에 부합하면 -> 그대로 단어를 저장하는 (리스트에) 구문이 필요
# append를 사용해서 단어를 추가
    else:
        words.append(word) # 내부에서 작동
        print(f"{word}가 추가되었습니다.") # 고객에게 표현

print("입력된 단어 목록은 무엇인가요?")
for w in words:
    print(w)

단어를 입력하세요 (종료: exit를 입력하세요)딸기
딸기가 추가되었습니다.
단어를 입력하세요 (종료: exit를 입력하세요)포도
포도가 추가되었습니다.
단어를 입력하세요 (종료: exit를 입력하세요)오렌지
오렌지가 추가되었습니다.
단어를 입력하세요 (종료: exit를 입력하세요)
공백은 입력할 수 없습니다.
단어를 입력하세요 (종료: exit를 입력하세요)exit
입력된 단어 목록은 무엇인가요?
딸기
포도
오렌지

In [ ]:
# 딕셔너리 만들기

# 1. 중괄호 사용하기 {}
# 문자열이면 ''를 사용하고, :으로 키와 값을 묶는다. -> 한 데이터의 쌍은 키와 값으로 묶는다 (딕셔너리 일때)
student = {'name': '진환'}

print(student)

{'name': '진환'}

In [ ]:
# 딕셔너리 만들기

# 2. 자료가 2개 이상인 경우 콤마(,)로 구분한다.
student = {'name': '진환', 'major' : '통계학'}

print(student)

{'name': '진환', 'major': '통계학'}

In [ ]:
# 딕셔너리 값에 접근하기 - key를 인덱싱하면 -> 값을 벹어낸다.
print(student['name'])
print(student['major'])

진환
통계학

In [ ]:
# 딕셔너리 값을 수정하고 추가하기
# 1) 수정하기
student['name'] = '하나'
print(student)
# 2) 추가하기
student['age'] = 30
print(student)

{'name': '하나', 'major': '통계학'}
{'name': '하나', 'major': '통계학', 'age': 30}

In [ ]:
# 값을 제거하는 del - 딕셔너리
del student['name']
print(student)

{'major': '통계학', 'age': 30}

In [ ]:
info = {}
print(info)

{}

In [ ]:
person = dict(name = '하나', age = 25)
print(person)

{'name': '하나', 'age': 25}

In [ ]:
# 주요 메서드에 대해서 정리

In [ ]:
# 데이터를 직접적으로 다루기 위해서 사용하는 메서드(기능)이다.

#1. keys -> 자료의 이름을 가져오는 기능
print(student.keys())
#2. values -> 자료의 값을 가져오는 기능
print(student.values())
#3. items -> 이름,값을 모두 가져온다.
print(student.items())

for k, v in student.items():
    print(k, v)

dict_keys(['major', 'age'])
dict_values(['통계학', 30])
dict_items([('major', '통계학'), ('age', 30)])
major 통계학
age 30

In [ ]:
# get은 정보가 있는지 없는지 여부를 파악
print(student.get("name"))
print(student.get("age"))

None
30

In [ ]:
# 딕셔너리에서의 반복문 활용
# key value items
# 딕셔너리를 바로 반복문에 넣으면 -> key값이 출력이 된다.
# 값을 얻으려면 values 또는 인덱싱을 통해 값을 가져와야된다.

for key in student:
    print(key, ':' ,student[key])

major : 통계학
age : 30

In [ ]:
# 딕셔너리를 통한 고객 데이터 베이스 관리
# 쌍을 이루고 있는 정보는 딕셔너리로 저장하는 것이 좋음

student = {}

student['name'] = input('이름을 입력하세요')
student['age'] = int(input('나이 입력 :'))
student['major'] = input('전공 입력 :')

print(student)

for k, v in student.items():
    print(k, v)

이름을 입력하세요홍길동
나이 입력 :30
전공 입력 :통계학
{'name': '홍길동', 'age': 30, 'major': '통계학'}
name 홍길동
age 30
major 통계학

# 함수

1. 맨 처음 시작은 def로 시작한다.
2. 함수이름을 적고 ()(소괄호)를 붙인다. (소괄호 안에는 매개변수라는 것을 추가할 수 있다.)
3. 콜론(:)을 입력한다.
4. 반복문, 조건문과 동일하게 들여쓰기 (스페이스바 4번) 을 수행한다.
5. return 이라는 결과(=반환값)를 적는다. (반환값)
6. 함수를 호출할때는 함수 이름() 을 사용해서 호출한다.

In [ ]:
# 1. 간단한 함수의 정의와 호출 실습
# print() -> 출력함수 데이터 / 텍스트에 대해서 출력을 하는 함수!
def say_hello():
    print("안녕하세요 파이썬 함수입니다.")

In [ ]:
# 함수의 실행
say_hello()

안녕하세요 파이썬 함수입니다.

In [ ]:
# 2. 매개변수에 대한 활용

In [ ]:
# name이라는 매개변수 추가
def greet(name):
    print(f'안녕하세요 {name}입니다.')

In [ ]:
greet('김지현')

안녕하세요 김지현입니다.

In [ ]:
# 매개변수는 얼마든지 추가할 수 있다.
# 매개변수는 실행시 매개변수 숫자가 맞아야한다.
def greet(name, age):
    print(f'안녕하세요 {name}입니다. 제 나이는 {age}세 입니다.')

In [ ]:
greet('박찬호', 50)
print('실행이 되었습니다.')

안녕하세요 박찬호입니다. 제 나이는 50세 입니다.
실행이 되었습니다.

In [ ]:
# print를 함수에서 사용하지 않는 경우 - 데이터 재사용성에 대한 부분
# None - 자료가 없다. 값이 없다.
a = print('실행이 되었습니다.')

실행이 되었습니다.

In [ ]:
print(a)

None

In [ ]:
# 1. return은 print와 다르게 출력이 되지 않는다.
# 2. return으로 받은 결과를 출력하기 위해서는 어떻게 해야할까요?
# 3. print가 있는데 왜 굳이 return을 사용하나요?
# 4. return값을 다시 활용하기 위해서 입니다.

def greet(name, age):
    return f'안녕하세요 {name}입니다. 제 나이는 {age}세 입니다.'

In [ ]:
greet('박찬호', 50)
print('실행이 되었습니다.')

실행이 되었습니다.

In [ ]:
b = greet('박찬호', 50)

In [ ]:
print(b)

안녕하세요 박찬호입니다. 제 나이는 50세 입니다.

In [ ]:
def calc(a,b):
    return a + b, a - b, a * b

plus, minus, multi = calc(5,3)
print(plus)
print(minus)
print(multi)

8
2
15

문자열 메서드

In [ ]:
# DataScience라는 문자열
# 문자열도 인덱스 / 시퀀스 자료형이다. 순서를 가지고 있다.
word = 'DataScience'

print(word[0]) # D
print(word[-1]) # e
print(word[0:4]) # 0,1,2,3번째 -> Data

D
e
Data

In [ ]:
# 문자열 메서드 - 1
# upper() - 모든 문자를 대문자
# lower() - 모든 문자를 소문자
# title() - 단어 첫 글자만 대문자 (영어식 표현)
# capitalize() - 문장의 첫글자만 대문자 (영어식 표현))
# swapcase() - 대<->소문자 변환

In [ ]:
print(word.upper())
print(word.lower())
print(word.title())
print(word.capitalize())
print(word.swapcase())

DATASCIENCE
datascience
Datascience
Datascience
dATAsCIENCE

In [ ]:
sentence = "   Hello, Python World!   "

In [ ]:
# 공백이 있는 텍스트
print(sentence)

   Hello, Python World!

In [ ]:
# 1. .strip() ** -> 양쪽 공백 제거
# 2. .lstrip()   -> 왼쪽 공백 제거
# 3. .rstrip()   -> 오른쪽 공백 제거
# 4. .replace(a,b) ** -> a를 b로 변경
# 5. .zfill(n) ** -> 자릿수에 맞춰서 0을 채우는 기법

In [ ]:
# 메서드 체이닝 -> .메서드.메서드 -> 메서드를 연결해서 쓸수 있는 방법 파이썬의 장점
cleaned = sentence.strip().replace('Python','Java')

In [ ]:
# 공백이 제거가 되고, Python은 Java로 변경
print(cleaned)

Hello, Java World!

In [ ]:
# 문자형 숫자 42가 있음
num = "42"
# 앞에 0으로 6자리를 추가해서 00000042로 만들고 싶음
# zfill(8) 0으로 최대한 8자리를 채워라 만약 데이터가 있으면 채우지 말아라
print(num.zfill(8))

00000042

In [ ]:
# 00000042 (텍스트로 된 숫자) -> 문자열
# CSV파일 -> 42
# CSV -> python -> 42 -> 숫자형
# 42 3 456 3948 -> zfill Database

In [ ]:
text = "banana and pineapple"

In [ ]:
# find(sub) ** - 부분 문자열의 시작 인덱스를 반환 (없으면 -1) - 자료가 없어도 계속 수행 가능
# rfind(sub)
# index(sub) ** - find와 동일한데 (없으면 오류) -> 자료가 없으면 프로그램 종료
# count(sub) ** - 특정 문자 등장 횟수
# startswith(prefix) - 특정 접두사로 시작
# endswith(prefix) - 특정 접미사로 시작 -> 파일명, URL, 컬럼명 등 패턴 검사를 할때 사용

In [ ]:
print(text.find('apple')) # apple의 시작은 15번째 부터
print(text.count('a')) # 해당 텍스트에 a가 몇개가 있는지 파악
print(text.startswith('ban')) # 문장의 첫부분
print(text.endswith('ple')) # 문장의 마지막 부분

15
5
True
True

In [ ]:
# 문자열 분리 결합
# split ** 구분자 기준으로 분리
# splitlines
# join ** 리스트를 문자열로 결합
# center

In [ ]:
sentence = "Python,Data,AI,Machine"

In [ ]:
words = sentence.split(',')
print(words)

['Python', 'Data', 'AI', 'Machine']

In [ ]:
joined = " @ ".join(words)
print(joined)

Python @ Data @ AI @ Machine